<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278572415371-9hgghpgsmiu603gbv3mj7tlbks50ebcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278572415371-9hgghpgsmiu603gbv3mj7tlbks50ebcr</string>
	<key>API_KEY</key>
	<string>AIzaSyCIK6eG03C2_xZfdV2rz6HefZX_4mqj8zU</string>
	<key>GCM_SENDER_ID</key>
	<string>278572415371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kaljit</string>
	<key>PROJECT_ID</key>
	<string>kaljit-2b6fd</string>
	<key>STORAGE_BUCKET</key>
	<string>kaljit-2b6fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278572415371:ios:fbc323b3a1f8e49f4b978e</string>
</dict>
</plist>